<ejs-treegrid
  #grid
  [dataSource]="dataSource"
  [enableVirtualization]="true"
  idMapping="id"
  parentIdMapping="parentTaskId"
  [treeColumnIndex]="0"
  height="800"
  rowHeight="40"
  [columns]="columns"
  [id]="'Group_' + this.groupId"
  [gridLines]="'Both'"
  (columnDrag)="columnDrag($event)"
  (resizeStop)="resizeStop($event)"
  (columnDrop)="columnDrop($event)"
  (cellSave)="cellSave($event)"
  (cellEdit)="cellEdit($event)"
  (rowDataBound)="rowDataBound($event)"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [enableCollapseAll]="false"
  (rowSelected)="rowSelected($event)"
  (click)="internalClickEvent($event)"
  (created)="created()"
  (recordDoubleClick)="recordDoubleClick($event)"
  (dataBound)="dataBound()"
  (queryCellInfo)="customizeCell($event)"
>
</ejs-treegrid>
