<span *ngIf="isGuestUser" class="icon-space-for-guest"></span>

<span
  class="template-label-text task-name-text fx-100"
  title="{{ columnValue?.value?.value }} {{
    subtaskCount > 0 && data?.column?.field === 'name' ? subtaskCount : ''
  }}"
  [class.subtask-wrapper]="subtaskCount > 0 && data?.column?.field === 'name'"
  [ngClass]="data?.column?.collapse ? 'e-collapse' : 'column-value'"
>
  <span class="block-item">{{ columnValue?.value?.value }}</span>

  <span
    class="count"
    *ngIf="subtaskCount > 0 && data?.column?.field === 'name'"
  >
    {{ subtaskCount }}
  </span>
</span>

<div
  *ngIf="data.column?.field === 'name' && !isGuestUser"
  [class.active-task-icons]="data.active"
  class="text-right-1 task-icons-1 fx"
>
  <em
    matBadgeSize="small"
    class="icomoon Survey-Outline updates-count file-icons-1 cursor-pointer"
    matTooltip="taskFilesLbl"
    matTooltipClass="tooltip-below"
    automation-id="main_board_task_files_count"
  >
  </em>
  <em
    [matBadge]="data.taskUpdatesCount || undefined"
    matBadgeSize="small"
    class="icomoon Survey-Outline1 updates-count file-icons-1 cursor-pointer"
    matTooltip="'taskUpdatesLbl'"
    matTooltipClass="tooltip-below"
    automation-id="main_board_task_updates_count"
  >
  </em>
  <em
    [matBadge]="data.proofFilesCount || undefined"
    matBadgeSize="small"
    class="
      icomoon
      Process-Compliance-1
      updates-count
      file-icons-1
      cursor-pointer
    "
    matTooltip="proofsLbl"
    matTooltipClass="tooltip-below"
    automation-id="main_board_proof_files_count"
  >
  </em>
</div>

<em
  *ngIf="
    data?.itemPermission?.permission === itemViewPermission &&
    data?.column?.field === 'name'
  "
  class="icon-area icon-small icomoon"
></em>

<em
  *ngIf="subtaskCount > 0 && data?.column?.field === 'name'"
  (dblclick)="$event.stopPropagation()"
  (click)="
    $event.stopPropagation(); expandAndCollapseParentRow(!data?.expanded)
  "
  class="icomoon cursor-pointer expand-icon"
  style="margin-left: 20px; padding: 5px; background-color: Red"
>
  {{ data?.expanded ? "-" : "+" }}
</em>

<mat-menu
  #taskOptions="matMenu"
  class="main-board-menu-item"
  (closed)="data.active = false"
>
  <ng-template matMenuContent>
    <button
      class="fx"
      *ngIf="isRootTask && hasPermission && !isFilterApplied"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon add-item-above"> </em>
        <span class="mat-view-menuitem-text">{{ "addItemAboveLbl" }}</span>
      </span>
    </button>
    <button
      class="fx"
      *ngIf="isRootTask && hasPermission && !isFilterApplied"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon add-item-below"> </em>
        <span class="mat-view-menuitem-text">{{ "addItemBelowLbl" }}</span>
      </span>
    </button>
    <button
      class="fx"
      *ngIf="data.depth < maxGridDepth && hasPermission && !isFilterApplied"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon addSubtask"> </em>
        <span class="mat-view-menuitem-text">{{ "addSubItemLbl" }}</span>
      </span>
    </button>
    <button
      class="fx"
      *ngIf="isRootTask && hasPermission && !isFilterApplied"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Cut"> </em>
        <span class="mat-view-menuitem-text">{{ "cut" }}</span>
      </span>
    </button>
    <button
      class="fx"
      *ngIf="isRootTask && hasPermission && !isFilterApplied"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Pie"> </em>
        <span class="mat-view-menuitem-text">{{ "copy" }}</span>
      </span>
    </button>
    <button
      class="fx"
      *ngIf="isRootTask && hasPermission && !isFilterApplied"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Paste"> </em>
        <span class="mat-view-menuitem-text">{{ "pasteBelow" }}</span>
      </span>
    </button>
    <button
      *ngIf="
        data.parentTaskId &&
        data.parentTaskId !== data.id &&
        hasPermission &&
        !isFilterApplied
      "
      mat-menu-item
      [disabled]="
        data?.itemPermission?.permission === itemViewPermission &&
        !isFilterApplied
      "
      class="fx"
      automation-id="main_board_outdent_item"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Improvement"> </em>
        <span class="mat-view-menuitem-text">{{ "convertToItemLbl" }}</span>
      </span>
    </button>
    <button
      *ngIf="data.depth < maxGridDepth && hasPermission && !isFilterApplied"
      isIndentAllowed
      class="fx"
      mat-menu-item
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon convertSubItem"> </em>
        <span class="mat-view-menuitem-text">{{ "indentItemLbl" }}</span>
      </span>
    </button>
    <button *ngIf="hasPermission" class="fx" mat-menu-item>
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Form-Builder"> </em>
        <span class="mat-view-menuitem-text">{{ "descriptionLbl" }}</span>
      </span>
    </button>
    <button class="fx" mat-menu-item>
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Survey-Outline"> </em>
        <span class="mat-view-menuitem-text" *ngIf="isRootTask">{{
          "taskFilesLbl"
        }}</span>
        <span class="mat-view-menuitem-text" *ngIf="!isRootTask">{{
          "subTaskFilesLbl"
        }}</span>
      </span>
    </button>
    <button class="fx" mat-menu-item>
      <span class="mat-view-menuitem">
        <em
          [matBadge]="data.taskUpdatesCount"
          [matBadgeHidden]="data.taskUpdatesCount < 1"
          matBadgeSize="small"
          class="icon-area icon-small icomoon Survey-Outline1 updates-count"
        >
        </em>
        <span class="mat-view-menuitem-text" *ngIf="isRootTask">{{
          "taskUpdatesLbl"
        }}</span>
        <span class="mat-view-menuitem-text" *ngIf="!isRootTask">{{
          "subTaskUpdatesLbl"
        }}</span>
      </span>
    </button>
    <button
      class="fx"
      mat-menu-item
      *ngIf="hasPermission && !data.parentTaskId && !isFilterApplied"
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Copy"> </em>
        <span class="mat-view-menuitem-text">
          {{ "duplicateTaskLbl" }}
        </span>
      </span>
    </button>
    <button class="fx" mat-menu-item *ngIf="hasPermission && isBoardOwner">
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Lock"> </em>
        <span class="mat-view-menuitem-text" *ngIf="isRootTask">{{
          "itemPermissionLbl"
        }}</span>
        <span class="mat-view-menuitem-text" *ngIf="!isRootTask">{{
          "subItemPermissionLbl"
        }}</span>
      </span>
    </button>

    <button class="fx" mat-menu-item>
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon taskLogs"> </em>
        <span class="mat-view-menuitem-text" *ngIf="isRootTask">{{
          "viewTaskLogsLbl"
        }}</span>
        <span class="mat-view-menuitem-text" *ngIf="!isRootTask">{{
          "viewSubTaskLogsLbl"
        }}</span>
      </span>
    </button>
    <button
      class="fx"
      mat-menu-item
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Process-Compliance-1"> </em>
        <span class="mat-view-menuitem-text">{{ "proofsLbl" }}</span>
      </span>
    </button>
    <button
      class="fx"
      mat-menu-item
      *ngIf="hasPermission && !data.parentTaskId && !isFilterApplied"
      [disabled]="data?.itemPermission?.permission === itemViewPermission"
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Delete-Outline"> </em>
        <span class="mat-view-menuitem-text">{{ "deleteLbl" }}</span>
      </span>
    </button>
    <button
      class="fx"
      mat-menu-item
      *ngIf="hasPermission && data.parentTaskId"
      [disabled]="
        data?.itemPermission?.permission === itemViewPermission &&
        !isFilterApplied
      "
    >
      <span class="mat-view-menuitem">
        <em class="icon-area icon-small icomoon Delete-Outline"> </em>
        <span class="mat-view-menuitem-text">{{ "deleteSubTaskLbl" }}</span>
      </span>
    </button>
  </ng-template>
</mat-menu>
