<div #mainBoard style="width: 1000px">
  <div
    *ngFor="let group of groups; trackBy: identify; let indexOfelement = index"
    [attr.current-group]="group.id"
  >
    <div *ngIf="columns && columns.length" class="mb-16">
      <app-accordian>
        <rpms-treegrid
          [maxRowsInViewPort]="maxRowsInViewPort"
          [mainBoardHeight]="mainBoardHeight"
          [groupId]="group.id"
          [boardId]="'id'"
          [columns]="groupColumnMap.get(group.id)"
          [gridWidth]="group.gridWidth"
          [maxGridDepth]="maxGridDepth"
          [dataSource]="flatTaskMap.get(group.id)"
          (updateTask)="updateTask($event)"
          [editColumnHeader]="editColumnHeader"
          (updateColumnWidth)="updateColumnWidth($event)"
          (reorderColumn)="reorderColumn($event)"
          (moveTaskToGroup)="moveTaskToGroupViaMenu($event)"
          parentIdMapping="parentTaskId"
          idMapping="id"
          [hasPermission]="hasPermission"
          [allowReordering]="!isGuestUser"
          [rpmsConditionalFormatting]="[]"
          [formatData]="formats"
        ></rpms-treegrid>
      </app-accordian>
    </div>
  </div>
</div>

<!--Templates For Status Type Column  -->
<ng-template #statusTemplate let-data>
  <div
    rpms-status-template
    [data]="data"
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    *ngIf="
      data?.fieldValues[data.column.field]?.value?.displayValue;
      else default_dropdown
    "
  ></div>

  <ng-template #default_dropdown>
    <div class="template-label-text"></div>
  </ng-template>
</ng-template>

<!--Templates For Priority Type Column  -->
<ng-template #priorityTemplate let-data>
  <div
    rpms-priority-template
    [data]="data"
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    *ngIf="
      data?.fieldValues[data.column.field]?.value?.displayValue;
      else default_dropdown
    "
  ></div>
  <ng-template #default_dropdown> </ng-template>
</ng-template>

<!--Templates for Text Type Column-->
<ng-template #textTemplate let-data>
  <div
    rpms-task-label-template
    [data]="data"
    [maxGridDepth]="5"
    [activeFormattingRules]="[]"
    [formats]="formats"
    class="cell-render-temp"
    [ngClass]="{
      'pl-0':
        (data.depth === -1 || !data.depth) && data.column?.field === 'name',
      'pl-10': data.depth === 0 && data.column?.field === 'name',
      'pl-20': data.depth === 1 && data.column?.field === 'name',
      'pl-30': data.depth === 2 && data.column?.field === 'name',
      'pl-40': data.depth === 3 && data.column?.field === 'name',
      'pl-50': data.depth === 4 && data.column?.field === 'name',
      'pl-60': data.depth === 5 && data.column?.field === 'name'
    }"
  ></div>
</ng-template>

<!--Templates for Date Type Column-->
<ng-template #dateTemplate let-data>
  <div
    rpms-date-template
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    [data]="data"
  ></div>
</ng-template>

<ng-template #dropdownTemplate let-data>
  <div
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-dropdown-template
    [data]="data"
  ></div>
</ng-template>

<!--Templates for DateTime Type Column-->
<ng-template #dateTimeTemplate let-data>
  <div
    rpms-date-time-template
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    [data]="data"
  ></div>
</ng-template>

<!--Template for Currency Column-->
<ng-template #currencyTemplate let-data>
  <div
    class="number-template"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-currency-template
    [data]="data"
  ></div>
</ng-template>

<!--Template for Percentage Column-->
<ng-template #percentageTemplate let-data>
  <div
    class="number-template"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-percentage-template
    [data]="data"
  ></div>
</ng-template>

<!--Template for Number Column-->
<ng-template #numberTemplate let-data>
  <div
    class="number-template"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-number-template
    [data]="data"
  ></div>
</ng-template>

<ng-template #peopleTemplate let-data>
  <div
    rpms-people-template
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    [data]="data"
  ></div>
</ng-template>

<ng-template #checkboxTemplate let-data>
  <div
    rpms-checkbox-template
    [data]="data"
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : ''"
  ></div>
</ng-template>
<ng-template #headerTemplate let-data>
  <div
    matTooltip="{{ data.headerText }}"
    matTooltipPosition="above"
    matTooltipClass="tooltip-above"
    *ngIf="data.collapse"
    class="cursor-pointer collapsed-btn"
    (click)="expandCollapseColumns(false)"
  >
    <mat-icon class="icomoon Collapse" style="font-size: 19px"></mat-icon>
  </div>
  <div *ngIf="!data.collapse">
    <div class="column-header-content fx" (click)="headerClick($event)">
      <div
        [id]="data.id"
        [attr.sequenceNumber]="data.sequenceNumber"
        [attr.allowReordering]="data.allowReordering"
        *ngIf="
          data.field === 'name' || data.field === 'menu';
          else editTemplate
        "
        class="table-header pl-20 truncate-text"
      >
        <label
          *ngIf="!data.isEdit"
          (click)="editColumn($event)"
          matTooltip="{{ data.headerText }}"
          matTooltipClass="tooltip-above"
          [matTooltipPosition]="'above'"
          >{{ data.headerText }}</label
        >
        <div class="task-name-container" *ngIf="data.isEdit">
          <input
            type="text"
            [rpmsAutoFocus]="data.isEdit"
            [ngModel]="data.headerText"
            class="task-name-text input-field"
            (focusout)="renameColumn($event)"
            (keydown.enter)="renameColumn($event)"
            maxlength="300"
          />
        </div>
      </div>
      <span class="sorting-block">
        <mat-icon
          *ngIf="data.field === 'name' || data.field === 'menu'"
          class="icomoon sort_arrows sort-action"
          [ngClass]="['sort-action-' + data.field]"
          (click)="applySortingOnGroups($event)"
        ></mat-icon>
      </span>
    </div>
    <ng-template #editTemplate>
      <div class="table-header fx-center-start fx-100">
        <ng-container
          *ngxPermissionsOnly="columnHeaderViewItems.columnMenu + '/' + data.id"
        >
          <mat-icon
            fxFlex="24px"
            class="
              icomoon
              arrow_down
              more-icon
              menu-icon menu-icon
              column-menu-icon
            "
            *ngIf="!data.isEdit && !!!data.columnPermission; else blank_content"
            [matMenuTriggerFor]="menu"
          ></mat-icon>
          <ng-template #blank_content><span class="pl-27"></span></ng-template>
        </ng-container>

        <label
          class="truncate-text"
          *ngIf="!data.isEdit"
          [id]="data.id"
          [attr.sequenceNumber]="data.sequenceNumber"
          [attr.allowReordering]="data.allowReordering"
          (click)="editColumn($event)"
          matTooltip="{{ data.headerText }}"
          [matTooltipPosition]="'above'"
          matTooltipClass="tooltip-above"
          >{{ data.headerText }}</label
        >
        <div class="task-name-container" *ngIf="data.isEdit">
          <input
            type="text"
            [rpmsAutoFocus]="data.isEdit"
            [ngModel]="data.headerText"
            class="task-name-text input-field"
            (focusout)="renameColumn($event)"
            (keydown.enter)="renameColumn($event)"
            maxlength="300"
          />
        </div>
        <mat-icon
          fxFlex="24px"
          class="icomoon info_outline description-icon"
          *ngIf="data.description?.length"
          matTooltip="{{ data.description }}"
          matTooltipClass="tooltip-below"
          (click)="addColumnDescription()"
        ></mat-icon>

        <span class="sorting-block" fxFlex="24px">
          <mat-icon
            *ngIf="data.columnType !== columnTypesEnum.lastUpdated"
            class="icomoon sort_arrows sort-action"
            [ngClass]="['sort-action-' + data.field]"
            (click)="applySortingOnGroups($event)"
          ></mat-icon>
        </span>
        <span *ngIf="!!data.columnPermission">
          <mat-icon class="icon-area icon-small icomoon Lock"></mat-icon>
        </span>
        <mat-menu #menu="matMenu" class="board-menu-item">
          <ng-template matMenuContent>
            <span class="fx column-toolbox" (click)="$event.stopPropagation()">
              <rpms-rich-text-toolbox
                [id]="data.field"
                type="1"
                [format]="
                  columnFormatMap.get(data.field)
                    ? columnFormatMap.get(data.field)
                    : {}
                "
                (applyStyle)="applyFormatting($event, false)"
                (update)="applyFormatting($event.data, $event.changed)"
              ></rpms-rich-text-toolbox>
            </span>
            <button
              class="fx"
              mat-menu-item
              (click)="openColumnConfig()"
              *ngxPermissionsOnly="
                columnHeaderViewItems.columnConfig + '/' + data.id
              "
            >
              <span class="mat-view-menuitem">
                <mat-icon
                  class="
                    icon-area icon-small
                    icomoon
                    Settings-Outline
                    cursor-pointer
                  "
                >
                </mat-icon>
                <span class="mat-view-menuitem-text">
                  {{ columnConfig?.label }}
                </span>
              </span>
            </button>
            <button
              class="fx"
              mat-menu-item
              (click)="openManagetag()"
              *ngIf="data.columnType === columnTypesEnum.tag"
            >
              <span class="mat-view-menuitem">
                <mat-icon
                  class="
                    icon-area icon-small
                    icomoon
                    Settings-Outline
                    cursor-pointer
                  "
                >
                </mat-icon>
                <span class="mat-view-menuitem-text">{{
                  "manageTags" | translate
                }}</span>
              </span>
            </button>
            <button
              class="fx"
              mat-menu-item
              *ngxPermissionsOnly="
                columnHeaderViewItems.columnPermission + '/' + data.id
              "
              (click)="openColumnPermissionDialog()"
            >
              <span class="mat-view-menuitem">
                <mat-icon class="icon-area icon-small icomoon Lock"> </mat-icon>
                <span class="mat-view-menuitem-text">{{
                  "columnPermissionLbl" | translate
                }}</span>
              </span>
            </button>
            <button
              class="fx"
              mat-menu-item
              (click)="handleColumnReplication()"
              *ngxPermissionsOnly="
                columnHeaderViewItems.columnDuplicate + '/' + data.id
              "
            >
              <span class="mat-view-menuitem">
                <mat-icon
                  class="
                    icon-area icon-small
                    icomoon
                    Copy-Outline
                    cursor-pointer
                  "
                >
                </mat-icon>
                <span class="mat-view-menuitem-text">{{
                  "duplicateColumnLbl" | translate
                }}</span>
              </span>
            </button>
            <button
              class="fx"
              mat-menu-item
              (click)="expandCollapseColumns(true)"
            >
              <span class="mat-view-menuitem">
                <mat-icon class="icon-area icon-small icomoon Collapse">
                </mat-icon>
                <span class="mat-view-menuitem-text">{{
                  "collapseColumnLbl" | translate
                }}</span>
              </span>
            </button>
            <button
              class="fx"
              mat-menu-item
              (click)="addColumnDescription()"
              *ngxPermissionsOnly="
                columnHeaderViewItems.columnDescription + '/' + data.id
              "
            >
              <span class="mat-view-menuitem">
                <span class="icon-area icomoon">
                  <img
                    src="assets/board/description.svg"
                    alt="switchViewArrow"
                    class="img-icon-small"
                  />
                </span>
                <span class="mat-view-menuitem-text">{{
                  "addDescriptionLbl" | translate
                }}</span>
              </span>
            </button>
            <button
              class="fx"
              mat-menu-item
              *ngxPermissionsOnly="
                columnHeaderViewItems.columnDelete + '/' + data.id
              "
              (click)="deleteColumn()"
            >
              <span class="mat-view-menuitem">
                <mat-icon class="icon-area icon-small icomoon Delete-Outline">
                </mat-icon>
                <span class="mat-view-menuitem-text">{{
                  "deleteColumnLbl" | translate
                }}</span>
              </span>
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </ng-template>
  </div>
</ng-template>
