<div #mainBoard>
  <rpms-treegrid
    *ngIf="columns?.length"
    [maxRowsInViewPort]="maxRowsInViewPort"
    [mainBoardHeight]="mainBoardHeight"
    [groupId]="groups[0].id"
    [boardId]="'id'"
    [columns]="groupColumnMap.get(groups[0].id)"
    [gridWidth]="groups[0].gridWidth"
    [maxGridDepth]="5"
    [dataSource]="flatTaskMap.get(groups[0].id)"
    (updateTask)="updateTask($event)"
    [editColumnHeader]="false"
    parentIdMapping="parentTaskId"
    idMapping="id"
    [allowReordering]="true"
    [rpmsConditionalFormatting]="[]"
    [formatData]="formats"
  ></rpms-treegrid>
</div>

<!--Templates For Status Type Column  -->
<ng-template #statusTemplate let-data>
  <div
    rpms-status-template
    [data]="data"
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    *ngIf="
      data?.fieldValues[data.column.field]?.value?.displayValue;
      else default_dropdown
    "
  ></div>

  <ng-template #default_dropdown>
    <div class="template-label-text"></div>
  </ng-template>
</ng-template>

<!--Templates For Priority Type Column  -->
<ng-template #priorityTemplate let-data>
  <div
    rpms-priority-template
    [data]="data"
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    *ngIf="
      data?.fieldValues[data.column.field]?.value?.displayValue;
      else default_dropdown
    "
  ></div>
  <ng-template #default_dropdown> </ng-template>
</ng-template>

<!--Templates for Text Type Column-->
<ng-template #textTemplate let-data>
  <div
    rpms-task-label-template
    [data]="data"
    class="cell-render-temp"
    [ngClass]="{
      'pl-0':
        (data.depth === -1 || !data.depth) && data.column?.field === 'name',
      'pl-10': data.depth === 0 && data.column?.field === 'name',
      'pl-20': data.depth === 1 && data.column?.field === 'name',
      'pl-30': data.depth === 2 && data.column?.field === 'name',
      'pl-40': data.depth === 3 && data.column?.field === 'name',
      'pl-50': data.depth === 4 && data.column?.field === 'name',
      'pl-60': data.depth === 5 && data.column?.field === 'name'
    }"
  ></div>
</ng-template>

<!--Templates for Date Type Column-->
<ng-template #dateTemplate let-data>
  <div
    rpms-date-template
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    [data]="data"
  ></div>
</ng-template>

<!--Templates for DateTime Type Column-->
<ng-template #dateTimeTemplate let-data>
  <div
    rpms-date-time-template
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    [data]="data"
  ></div>
</ng-template>

<!--Template for Currency Column-->
<ng-template #currencyTemplate let-data>
  <div
    class="number-template"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-currency-template
    [data]="data"
  ></div>
</ng-template>

<!--Template for Percentage Column-->
<ng-template #percentageTemplate let-data>
  <div
    class="number-template"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-percentage-template
    [data]="data"
  ></div>
</ng-template>

<!--Template for Number Column-->
<ng-template #numberTemplate let-data>
  <div
    class="number-template"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-number-template
    [data]="data"
  ></div>
</ng-template>

<!--Templates For Dropdown Type Column  -->
<ng-template #dropdownTemplate let-data>
  <div
    class="cell-render-temp"
    [ngClass]="data.column.collapse ? 'e-collapse' : 'column-value'"
    rpms-dropdown-template
    [data]="data"
  ></div>
</ng-template>
